#hiddenUntilClick {
    display: none;
}

#totals {
    font-weight: bold;
}

button {
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
}

input, select {
    border-radius: 10px;
    border-width: 2px;
    margin-right: 1px;
    width: 200px;
    height: 35px;
    box-sizing: border-box;
    border-color: black;
    
}

mat-form-field {
    color:black;
}

form {
    margin-left: auto;
    margin-right: auto;
}
