<form #form="ngForm" (ngSubmit)="calculateMacros(form)">
    <input type="number" name="age" placeholder="Enter your age" required ngModel min="18" max="80">
    <input type="text" name="sex" placeholder="Enter your sex" required ngModel >
    <input type="number" name="height" placeholder="Enter your height" required ngModel min="25" max="240">
    <input type="number" name="weight" placeholder="Enter your weight" required ngModel min="39" max="420">

    <!--Your macro needs: -->

    <button 
        [disabled]="!form.valid" type="submit" (click)="createDailyPlan()" (click)="reveal()">
        Click to make a randomized daily meal plan
    </button>
</form>

<table id="hiddenUntilClick">
    This work-in-progress prototype outputs a plan that adds individual foods until one of the following limits are met (or will be surpassed with further additions) for the day:<br>
    Calories: 2,848<br>
    Protein: 175g<br>
    Carbs: 380g<br>
    Fat: 81g<br>
    Future iterations will allow adjustment of macro limits and more curated meal creation
    <thead>
        <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Fat</th>
            <th>Carbs</th>
            <th>Protein</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let food of dailyPlanArray">
            <td>{{food.id}}</td>
            <td>{{food.Calories}}</td>
            <td>{{food.Fat}}</td>
            <td>{{food.Carbs}}</td>
            <td>{{food.Protein}}</td>
        </tr>
        <hr>
        <tr id="totals">
            <td>Totals:</td>
            <td>{{dailyPlanTotalMacros[0]}}</td>
            <td>{{dailyPlanTotalMacros[1]}}</td>
            <td>{{dailyPlanTotalMacros[2]}}</td>
            <td>{{dailyPlanTotalMacros[3]}}</td>
        </tr>
    </tbody>
    <button click="addToWeekly">Add this daily meal plan to weekly meal plan</button>
</table>
