<h3>Enter the following information so your curated meal plan can be created. [in development]</h3>
<form #form="ngForm" [formGroup]="myForm" (submit)="calculateMacros(ageControl, weightControl, heightControl, genderControl, activityLevelControl)">
ADD SUBMISSION

    <input type="number" name="age" placeholder="Age" required min="18" max="80" formControlName="ageControl">


    <input type="number" name="height" placeholder="Height (inches)"  required  min="25" max="240" formControlName="heightControl">


    <input type="number" name="weight" placeholder="Weight (pounds)" required  min="39" max="420" formControlName="weightControl">



    <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select name="gender" formControlName="genderControl" ngDefaultControl required="">
            <mat-option *ngFor="let gender of genders" [value]="gender">
                {{gender}}
            </mat-option>
        </mat-select>
    </mat-form-field>



    <mat-form-field >
        <mat-label>Activity Level</mat-label>
        <mat-select name="activityLevel" formControlName="activityLevelControl" ngDefaultControl required>
            <mat-option *ngFor="let activityLevel of activityLevels" [value]="activityLevel">
                {{activityLevel}}
            </mat-option>
        </mat-select>
    </mat-form-field>



    <button 
        [disabled]="!form.valid" type="submit" (click)="createDailyPlan()" (click)="reveal()">
        Click to make a randomized daily meal plan
    </button>
</form>





    <!--Your macro needs: -->





<table id="hiddenUntilClick">
    <br>
    This work-in-progress prototype outputs a plan that adds individual foods until one of the following limits are met (or will be surpassed with further additions) for the day:<br>
    Calories: 2,848<br>
    Protein: 175g<br>
    Carbs: 380g<br>
    Fat: 81g<br>
    These macros are not curated for your inputs. Future iterations will enable curated functionality.
    <thead>
        <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Fat</th>
            <th>Carbs</th>
            <th>Protein</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let food of dailyPlanArray">
            <td>{{food.id}}</td>
            <td>{{food.Calories}}</td>
            <td>{{food.Fat}}</td>
            <td>{{food.Carbs}}</td>
            <td>{{food.Protein}}</td>
        </tr>
        <hr>
        <tr id="totals">
            <td>Totals:</td>
            <td>{{dailyPlanTotalMacros[0]}}</td>
            <td>{{dailyPlanTotalMacros[1]}}</td>
            <td>{{dailyPlanTotalMacros[2]}}</td>
            <td>{{dailyPlanTotalMacros[3]}}</td>
        </tr>
    </tbody>
    <button click="addToWeekly">Add this daily meal plan to weekly meal plan</button>
</table>
