<h3>Keep track of your progress. Add the foods you've eaten today</h3>

<div class="ng-autocomplete">
    <ng-autocomplete
        [data]="countries"
        [searchKeyword]="keyword"
        placeholder="Search for a food"
        historyIdentifier="countries"
        [itemTemplate]="itemTemplate">
        [notFoundTemplate]="notFoundTemplate"
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
    </ng-template>
</div>