<h1>Diet Planner</h1>
<h4>Saved Foods:</h4>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Fat</th>
            <th>Carbs</th>
            <th>Protein</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let food of macros.foods">
            <td>{{food.id}}</td>
            <td>{{food.Calories}}</td>
            <td>{{food.Fat}}</td>
            <td>{{food.Carbs}}</td>
            <td>{{food.Protein}}</td>
        </tr>
    </tbody>
</table>