button {
    height: fit-content;
}

table {
    margin-top: px;
    width: 90%;
    text-align: left;
}

th {
    padding: 8px;
}
td {
    padding: 1px;
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #c6ecc6
    ;
    ;
}

.food-name {
    width: 630px;
}

.box {
    display: flex;
    flex-direction: column;
}

#totals {
    font-weight: bold;
}

#hiddenTitle {
    display:none;
}

#hiddenTable {
    display:none;
}

#popup {
    position: relative;
    display: inline-block;
    width: 160px;
    text-align: center;
}
