<h2 id="hiddenTitle">Current combination</h2>
<table class="createFoodTable" id="hiddenTable">
    <thead>
        <td></td>
            <th>Name</th>
            <th>Calories</th>
            <th>Fat</th>
            <th>Carbs</th>
            <th>Protein</th>
    </thead>
    <tbody>
        <tr *ngFor="let food of createFoodArray">            
            <button (click)="remove(food)" id="food-to-remove">Remove</button>
            <td class="food-name">{{food[0]}}</td>
            <td>{{food[1]}}</td>
            <td>{{food[2]}}</td>
            <td>{{food[3]}}</td>
            <td>{{food[4]}}</td>
            <td [innerHTML]="qtyHTML"></td>
        </tr>
        <tr id="totals" *ngIf="createFoodArray.length> 0">
            <td>Totals:</td>
            <input type="text" placeholder="Input new food name" #newFoodName (keyup.enter)="true">
            <button (click)="createNewFood(newFoodName.value)">Create Food</button>
            {{newFoodName.value}}
            <td>{{newFoodMacrosArray[0]}}</td>
            <td>{{newFoodMacrosArray[1]}}</td>
            <td>{{newFoodMacrosArray[2]}}</td>
            <td>{{newFoodMacrosArray[3]}}</td>
        </tr>
    </tbody>
</table>

<form #form="ngForm" (ngSubmit)="createEntirelyNewFood(form)">
    <h3>Create an entirely new food to store in the database</h3>
    <table class="createFoodTable">
        <thead>
                <th>Name</th>
                <th>Calories</th>
                <th>Fat</th>
                <th>Carbs</th>
                <th>Protein</th>
        </thead>
        <tbody>
            <tr>
                <button [disabled]="!form.valid" type="submit">Save New Food</button>
                <td><input required type="text" placeholder="Enter food name + serving size" size="30" name="Name" ngModel></td>
                <td><input required type="number" min="0" placeholder="Enter calories" name="Calories" ngModel></td>
                <td><input required type="number" min="0" placeholder="Enter grams fat" name="Fat" ngModel></td>
                <td><input required type="number" min="0" placeholder="Enter grams carbs" name="Carbs" ngModel></td>
                <td><input required type="number" min="0" placeholder="Enter grams protein" name="Protein" ngModel></td>
            </tr>
        </tbody>
    </table>
</form>

<h2>OR...</h2>
<h3>Combine saved foods and store that new food in the database.</h3>
<h4>For example, "Tortilla" + "Ground Beef" + "Egg" x2 + "Avocado" = "Breakfast Burrito"</h4>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Calories</th>
            <th>Fat</th>
            <th>Carbs</th>
            <th>Protein</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let food of macro.foods">
            <button (click)="addToNewFood(food)" (click)="reveal()">Add</button>
            <td>{{food.id}}</td>
            <td>{{food.Calories}}</td>
            <td>{{food.Fat}}</td>
            <td>{{food.Carbs}}</td>
            <td>{{food.Protein}}</td>
        </tr>
    </tbody>
</table>
<button (click)="reset()">Reset</button> 